
.navbar {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: hsla(207, 20%, 91%, 1);
}

.logo {
    width: 2rem;
    height: 2rem;
    padding: 5px 10px;
}

.left-navbar, .right-navbar {
    display: flex;
    align-items:center;
    gap: 1rem;
    padding: 2rem;
}

.left-navbar-menu {
    display: flex;
    align-items: right;
}

.left-navbar li {
    list-style: none;
    padding: 5px 10px;
}

.left-navbar li a {
    text-decoration: none;
}


.btn {
    border: none;
    border-radius: 10%;
    padding: 3px 5px;
    background-color: none;
    color: hsla(120, 100%, 20%, 1);
}

.notifications {
    position: relative;
    background-color: inherit;
}
.notifications svg{
    width: 1.5rem;
    height: 1.5rem;
}

.search input[type="text"] {
    border: none;
    background-color: hsla(240, 100%, 98%, 1);
    height: 1.5rem;
}

.navbar-notification {
    width: 1rem;
    height: 1rem;
}

.notification-count {
    top: -30%;
    right: -20%;
    position: absolute;
    border-radius: 50%;
    background-color: hsla(120, 100%, 30%, 1);
    padding: 1px 4px;
    color: hsla(120, 100%, 85%, 1);
    z-index: 1;
}


.profile {
    position: relative;
    cursor: pointer;
}

.menu-bar {
    display: none;
    position: absolute;
    top: 100%;
    right: -20%;
    background-color: hsla(207, 20%, 91%, 1);
}

.avatar {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    background-color: hsla(120, 100%, 30%, 1);
}

.menu-bar ul {
    padding-inline-start: 0px;
    padding: 0 10px;
}

.menu-bar ul li {
    list-style: none;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: hsla(120, 100%, 30%, 1);
}

a:hover {
    color: hsla(120, 100%, 10%, 1);
}

.separator {
    border-top: 1px solid hsla(120, 100%, 60%, 1);
}

.smallscreen-profile:hover .menu-bar,
.profile:hover .menu-bar {
    display: block;
}

.smallscreen-navbar {
    display: none;
}

/** responsive small screen **/

@media screen and (max-width:768px) {
    .smallscreen-navbar {
        display: block;
        background-color: hsla(207, 20%, 91%, 1);
    }

    .navbar {
        display: none;
    }

    .humberger-nav {
        display: flex;
        justify-items: space-between;

    }

    ul li {
        list-style: none;
        padding: 5px 5px;
    }

    .smallscreen-submenu {
        display: flex;
        flex-direction: column;
        padding-left: 10px; 
        gap: 20px;
    }

    .smallscreen-profile {
        position: relative;
        cursor: pointer;
    }

    .hide-small-screen-menu {
        display: none;
    }

    .display-small-screen-menu {
        display: block;
    }
    .display-small-screen-menu ul{
        padding-inline-start: 0px;
    }

    .smallscreen-submenu{
        display: flex;
    }

    .bars-button-is-open {
        display: block;
    }

    .bars-button-is-closed {
        display: none;
    }

    .cross-button-is-open {
        display: block;
    }
    .hide-small-screen-profile-menu{
        display:none;
    }

    .smallscreen-profile:hover .hide-small-screen-profile-menu {
        display: flex;
        flex-direction: column;
    }

    .humberger-button {
        margin-left: auto;
        background-color: inherit;
        border: none;
    }

    .cross-button,
    .bars-button {
        width: 20px;
        height: 20px;
        border: none;
    }
}